{% extends 'base.html.twig' %}

{% block title %}Liste des acteurs{% endblock %}
{% block pageTitle %}Liste des acteurs{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}

 
<h1>Ajouter un acteurs</h1>
{{form(form)}}


{% endblock %}