{% extends "base.html.twig" %}

{% block title %}Ajouter un genre{% endblock %}


{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
<h1>Ajouter un genre</h1>
{{form_start(form)}}
<div class="row">
    <div class="col-md-4">{{form_row(form.nom)}}</div>
  
</div>


{{form_widget(form)}}
{{form_end(form)}}
 

{% endblock %}
